.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.frameLowerPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.frameTab {
  width: 100%;
  overflow: auto;
}

.cartWelcome {
  flex-grow: 1;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  flex-grow: 1;
  background-color: lightskyblue;
}

.cartItem {
  margin-left: 10px;
}

.historyGroup {
  padding-top: 10px;
  font-weight: bold;
}

.historyItem {
  padding-left: 2ex;
  font-weight: normal;
}

.recorder {
  background-color: lightgray;
  padding: 4px;
}
